.card {
  background-color: rgba(133, 109, 109, 0.158);
  padding: 0 0.5rem;
  margin-bottom: 48px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .av-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    display: inline;
    img {
    }
    .auth {
      display: inline;
      font-size: 0.8rem;
      font-weight: 300;
    }
  }

  .featured {
    width: 200px;
    height: 134px;
  }
  h2 {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
  }

  span {
    color: rgb(119, 116, 116);
    font-size: 0.7rem;
    margin-bottom: 0px;
  }
}
