@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.blog-contain {
  margin: 0;
  background-color: rgba(101, 128, 216, 0.685);
}

.blog {
  font-family: Roboto;
  padding: 10rem auto;
  margin: 0 12rem;
  background-color: rgba(101, 128, 216, 0.685);

  &__title {
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0rem;
    padding: 2rem 0 0 1.2rem;
  }

  &__desc {
    margin-top: 0.4rem;
    padding: 0 0 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.582);
  }

  &__feat {
    display: block;
    margin: auto;
    width: 50rem;
  }

  &__body {
    padding: 2rem 5rem;
    text-align: justify;

    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
  }
}
