@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.blog-contain {
  margin: 0;
  background-color: rgba(101, 128, 216, 0.685);
}

.blog {
  font-family: Roboto;
  padding: 10rem auto;
  margin: 0 12rem;
  background-color: rgba(101, 128, 216, 0.685);

  &__title {
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0rem;
    padding: 2rem 0 0 1.2rem;
  }

  &__desc {
    margin-top: 0.4rem;
    padding: 0 0 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.582);
  }

  &__feat {
    &__img {
      display: block;
      margin: 0.5rem auto;
      object-fit: contain;
      overflow: hidden;
      width: 90%;
    }
  }

  &__body {
    padding: 2rem 5rem;
    text-align: justify;

    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
  }
}

.head__top {
  display: flex;
  justify-content: space-between;
  &__right {
    display: inline;
  }
  &__left {
    display: inline;
    margin: auto 1.5rem;
  }
}
.head__icon {
  margin: 0 1rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: rebeccapurple;

  &:hover {
    color: white;
  }
}

.loader {
  // background-color: rebeccapurple;
  display: grid;
  align-items: center;
  justify-content: center;
}

.comment-contain {
  background-color: rgba(102, 51, 153, 0.349);
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
