.avatar {
  box-sizing: border-box;
  display: inline;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px;
  height: 19px;
  width: 20px;
  border: 0px;
  border-radius: 50%;
  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}
