body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color: rgb(56, 134, 63);
  text-decoration: none;
}
body a:hover {
  color: #17927e;
  font-size: 101%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #851818; */
  background: #171d16;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a9217;
  width: 5px;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Code for Firefox */
::-moz-selection {
  transform: scale(1.2);
  background: rgb(11, 90, 47);
  color: white;
}

::selection {
  transform: scale(1.2);
  background: rgb(12, 95, 50);
  color: white;
}
